---
import SocialList from "@/components/SocialList.astro";
import PostPreview from "@/components/blog/PostPreview.astro";
import { getAllPosts, sortMDByDate } from "@/data/post";
import PageLayout from "@/layouts/Base.astro";

const MAX_POSTS = 10;
const allPosts = await getAllPosts();
const allPostsByDate = sortMDByDate(allPosts).slice(0, MAX_POSTS);

const sectionEducation: { school: string; department: string; degree: string; period: string }[] = [
	{
		school: "Taipei Municipal Da'an Vocational High School",
		department: "Dept. of Computer Science",
		degree: "High School",
		period: "2021 - 2024"
	},
	{
		school: "National Taiwan University of Science and Technology",
		department: "Dept. Electronic and Computer Engineering",
		degree: "Bachelor's Degree",
		period: "2024 - Est. 2030"
	},
	{
		school: "National Taiwan Normal University",
		department: "Dept. Computer Science and Information Engineering",
		degree: "Bachelor's Degree",
		period: "2025 - Est. 2029"
	}
];

const sectionWorking: { company: string; title: string; date: string }[] = [
	{
		company: "ONESLEEVE (SG) PTE. LTD (Cymetrics)",
		title: "Intern Security Engineer",
		date: "2025 - Now"
	},
	{
		company: "ONEDEGREE HONG KONG LIMITED (Taiwan Branch)",
		title: "Intern Network Engineer",
		date: "2024 - Now"
	},
	{
		company: "Simple Information, Inc.",
		title: "Founder & Technical Project Manager",
		date: "2024 - Now"
	},
	{
		company: "404 Network Information Co.",
		title: "Co-Founder & Network Engineer",
		date: "2021 - Now"
	}
];

const sectionCertifications: { title: string; alias?: string; issuer: string; date: string; id?: string }[] = [
	{
		title: "Cisco Certified Cybersecurity Associate",
		alias: "Cisco Certified Network CyberOps Associate, CBROPS, Cybersecurity-A",
		issuer: "Cisco Systems, Inc.",
		date: "Sep 2025",
		id: "7bc3032aa6484ce3bbbaf8ba2b48b511"
	},
	{
		title: "Cisco Certified Network Professional Security",
		alias: "CCNP Security, CCNP-S",
		issuer: "Cisco Systems, Inc.",
		date: "Sep 2025",
		id: "3bddb585815940399267a7d6c6f38402"
	},
	{
		title: "Cisco Certified Specialist - Security Core",
		issuer: "Cisco Systems, Inc.",
		date: "Sep 2025",
		id: "a859c1cd77024a1e901b9b360534cf43"
	},
	{
		title: "Cisco Certified Specialist - Network Security VPN Implementation",
		issuer: "Cisco Systems, Inc.",
		date: "Sep 2025",
		id: "7385934b77e7451ab1bfbc0749b06c3f"
	},
	{
		title: "Information Security Engineer - Associate Level",
		issuer: "Ministry of Economic Affairs (Taiwan)",
		date: "July 2024",
		id: "B-S11-2409-2024"
	},
	{
		title: "Computer Hardware Fabrication - C Level Technician",
		issuer: "Ministry of Labor (Taiwan)",
		date: "July 2023",
		id: "120-0292806"
	}
];

const sectionContest: { [year: string]: { title: string; desc: string; href?: string }[] } = {
	"2025": [
		{		
			title: "AIS3 EOF 進階資安攻防演練, 最佳藍色小精靈獎",
			desc: "(希望這次可以進決賽><, Play with Team)"
		},
		{
			title: "55 全國技能北區分區賽, Excellent Work",
			desc: "(雲端運算, Solo)"
		}
	],
	"2024": [
		{		
			title: "實踐大學企管系小論文競賽, 2nd Place",
			desc: "(試申論 Chat GPT 對高中職生的學涯及職涯抉擇之影響, Write with Team)"
		},
		{		
			title: "台北市性別平等小論文競賽, Excellent Work",
			desc: "(解析網路社交平台: 性別暴力蔓延之地? 以「霸社」為鑑, Write with Team)"
		},
		{		
			title: "CyberSec CyberRange Fianl, 7rd Place",
			desc: "(Hosted by iThome & TRAPA, Solo)"
		},
		{		
			title: "54 全國技能北區分區賽, 5rd Place",
			desc: "(網路與資訊技術, Solo)"
		},
		{
			title: "神盾盃 Preliminary, 13rd Place",
			desc: "(從缺, Play with Team)"
		}
	],
	"2023": [
		{
			title: "資安技能金盾獎 Final, 1st Place",
			desc: "(海豹海豹我的神, Play with Team)",
			href: "https://web.archive.org/web/20250924111321/https://tw.news.yahoo.com/%E8%B3%87%E5%AE%89%E6%8A%80%E8%83%BD%E9%87%91%E7%9B%BE%E7%8D%8E-40%E7%B5%84%E9%9D%92%E5%B9%B4%E5%A5%BD%E6%89%8B%E8%BC%83%E5%8B%81-160000375.html"
		},
		{
			title: "教育部智慧鐵人創意競賽 Final, 3rd Place",
			desc: "(我想去比決賽 & 高中職組, Play with Team)",
			href: "https://tw.news.yahoo.com/%E5%A4%A7%E5%AE%89%E9%AB%98%E5%B7%A5%E5%AD%B8%E7%94%9F%E8%B7%A8%E6%A0%A1%E5%90%88%E4%BD%9C%E5%B1%95%E5%89%B5%E6%84%8F-%E6%99%BA%E6%85%A7%E9%90%B5%E4%BA%BA%E5%89%B5%E6%84%8F%E8%B3%BD%E7%8D%B2%E4%BD%B3%E7%B8%BE-012027106.html"
		}
	]
};

const sectionPresentation: { desc: string; title: string }[] = [
	{
		title: "資訊實作與演練 - 斗六高中 (一日資訊體驗營, 教育部資安人才培育計畫)",
		desc: "Mar 2024"
	},
	{
		title: "資訊安全基礎認識 - 羅東高工 (一日資訊體驗營, 教育部資安人才培育計畫)",
		desc: "Jun 2024"
	},
	{
		title: "Linux 101+ - 百齡高中 (社團實作, 教育部資安人才培育計畫)",
		desc: "May 2025"
	},
	{
		title: "版本管理與部署：從 Git 到 Google Cloud 的完整流程 - SITCON Camp 2025",
		desc: "Jul2025"
	}
]

const sectionCommunityConference: { title: string; year: string }[] = [
	{
		title: "SCINT 北台灣學生資訊社群",
		year: "2022 - 2023"
	},
	{
		title: "Conference for Open Source Coders",
		year: "2023 - 2025"
	},
	{
		title: "Students’ Information Technology Conference",
		year: "2023 - 2025"
	},
	{
		title: "ARIN 53 (Hosted by American Registry for Internet Numbers)",
		year: "2023"
	},
	{
		title: "SITCON Camp 2025",
		year: "2025"
	}
];
---

<PageLayout meta={{ title: "Home" }}>
	<section>
		<h1 class="title mb-6">Whoami</h1>
		<p class="mb-4">
			Hi, I'm Ricky from Keelung & Taipei, focusing on infrastructure and networking. 
			Currently, I work as an Intern Network Engineer at OneDegree while learning 
			Web, Misc, and Blue Team skills in the CTF and Information Security field.
		</p>
		<div class="mb-6">
			<strong class="block mb-4">Education:</strong>
			{sectionEducation.map(({ school, department, degree, period }) => (
				<div class="mb-4">
					<span class="font-semibold">{school}</span>
					<div class="flex justify-between">
						<span>{department}</span>
						<span>{period}</span>
					</div>
					<p>{degree}</p>
				</div>
			))}
		</div>
		<SocialList />
	</section>
	
	<section class="mt-16">
		<h2 class="title mb-4 text-xl">Working Experiences</h2>
		<dl class="space-y-4">
			{
				sectionWorking.map(({ company, title, date }) => (
					<div class="flex flex-col gap-2 sm:flex-row justify-between">
						<dt>
							<span class="font-semibold">{company}</span>
							<br />
							<span>{title}</span>
						</dt>
						<dd class="text-right">{date}</dd>
					</div>
				))
			}
		</dl>
	</section>

	<section class="mt-16">
		<h2 class="title mb-4 text-xl">Certifications</h2>
		<dl class="space-y-4">
			{
				sectionCertifications.map(({ title, alias, issuer, date, id }) => (
					<div class="flex flex-col sm:flex-row sm:items-start gap-2">
						<dt class="flex-grow">
							<span class="font-semibold">{title}</span>
							{alias && (
								<span class="block text-xs text-gray-600 italic">
									Also known as: {alias}
								</span>
							)}
							<span class="block">{issuer}</span>
							{id && <span class="block text-sm">Certificate ID: {id}</span>}
						</dt>
						<dd class="text-center sm:text-right whitespace-nowrap sm:mt-0">{date}</dd>
					</div>
				))
			}
		</dl>
	</section>

	<section class="mt-16">
		<h2 class="title mb-4 text-xl">Contest</h2>
		<dl class="space-y-4">
			{Object.entries(sectionContest).flatMap(([year, contests]) => 
				contests.map(({ title, desc, href }) => (
					<div class="flex flex-col gap-2 sm:flex-row justify-between">
						<dt class="flex-grow">
							<span class="flex">
								{href ? (
									<a class="cactus-link" href={href} rel="noreferrer" target="_blank">
										{title}
									</a>
								) : (
									title
								)}
							</span>
							<span class="text-sm text-gray-500">{desc}</span>
						</dt>
						<dd class="text-right whitespace-nowrap">{year}</dd>
					</div>
				))
			)}
		</dl>
	</section>

	<section class="mt-16">
		<h2 class="title mb-4 text-xl">Presentation</h2>
		<dl class="space-y-4">
			{
				sectionPresentation.map(({ desc, title }) => (
					<div class="flex flex-col gap-2 sm:flex-row justify-between">
						<dt>
							<span class="flex">
								{title}
							</span>
						</dt>
						<dd class="text-right">{desc}</dd>
					</div>
				))
			}
		</dl>
	</section>

	<section class="mt-16">
		<h2 class="title mb-4 text-xl">Community & Conference</h2>
		<dl class="space-y-4">
			{
				sectionCommunityConference.map(({ title, year }) => (
					<div class="flex flex-col gap-2 sm:flex-row justify-between">
						<dt>
							<span class="flex">
								{title}
							</span>
						</dt>
						<dd class="text-right">{year}</dd>
					</div>
				))
			}
		</dl>
	</section>

	<section aria-label="Blog post list" class="mt-16 print:hidden">
		<h2 class="title mb-4 text-xl">Posts</h2>
		<ul class="space-y-4">
			{
				allPostsByDate.map((p) => (
					<li class="grid gap-2 sm:grid-cols-[auto_1fr] sm:[&_q]:col-start-2">
						<PostPreview post={p} />
					</li>
				))
			}
		</ul>
	</section>
</PageLayout>